/.vscode
/obj
/corewar
/asm
/compile_commands.json
/default.nix
/result
/log
/test.cor
/test.s
/test-cbaillat.s
/test-cbaillat.cor
/resources/champs/*.cor
/resources/champs/championships/*/*/*.cor
/resources/champs/examples/*.cor
